<!doctype html>
<html lang="en" ng-app="CamStore">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best cameras store</title>


    <link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="../..//bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../..//css/main.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="CamStoreController as store">

<h1 class="mainTop">Магазин лучших фотоаппаратов</h1>

<header class="container">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Angular store</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">ТОВАРЫ <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="/pages/serhii-kravchenko/">Гитары</a></li>
                            <li><a href="/pages/piven-sergey/">Приставки</a></li>
                            <li><a href="/pages/kolisnyk-maksym/">Котики</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main role="main" class="container">
    <div class="panel" ng-repeat="product in store.products" ng-hide="product.soldOut">
        <div class="block">
        <div class="info">
            <h2 class="prodName">{{product.title}}</h2>
            <p class="itemPrice">{{product.price| currency: $}}</p>
        </div>
        </div>
            <button type="button" class="btn btn-buy">{{"Купить"}}</button>

        <img class="imgCamera" ng-src="{{product.images[0]}}">
        <button class="btn btn-inf moreInfo">Подробнее о товаре</button>

        <section ng-controller="PanelController as tabCTRL" class="row tab">
            <ul class="nav nav-tab">
                <li class="prodDescription" ng-class="{active: tabCTRL.selected(1)}">
                    <a href ng-click="tabCTRL.selectTab(1)">Описание</a>
                </li>
                <li class="prodMessage" ng-class="{active: tabCTRL.selected(2)}">
                    <a href ng-click="tabCTRL.selectTab(2)">Отзывы</a>
                </li>
            </ul>

            <div ng-show="tabCTRL.selected(1)">
                <h3>Описание</h3>
                <li>{{product.description[0]}}</li>
            </div>

            <div ng-show="tabCTRL.selected(2)">
                <h3>Отзывы</h3>
                    <div ng-repeat="message in product.messages">
                        <li>{{message.author[0]}}</li>
                        <li>{{message.message[0]}}</li>

                        <li>{{message.author[1]}}</li>
                        <li>{{message.message[1]}}</li>
                    </div>

                <form name="reviewForm" class="reviewForm" ng-controller="ReviewController as reviewCTRL"
                      ng-submit="reviewForm.$valid && reviewCTRL.addReview(product)" novalidate>

                    <button class="btn btn-info writeReviewButton">Оставить отзыв</button>

                    <input type="text" placeholder="Введите свое имя" ng-model="reviewCTRL.review.author"
                           class="form-control" required>

                    <textarea cols="100" rows="10" placeholder="Свой отзыв можете оставить здесь"
                              ng-model="reviewCTRL.review.message" class="form-control" required></textarea>

                    <input type="submit" value="Отправить отзыв" class="btn btn-info btn-submit">

                </form>
            </div>
        </section>
    </div>
</main>

<script src="../..//bower_components/jquery/dist/jquery.js"></script>
<script src="../..//bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../..//bower_components/angular/angular.min.js"></script>

<script src="js/scripts/controller.js"></script>
<script src="../..//js/all.js"></script>
</body>
</html>
