.small-image-in {
    max-width: 10%;
    max-height: 10%;
    border: solid green 2px;
    margin-top: 10px;

}

#reviews-in {
    border-bottom: 1px solid black;
    margin: 10px;
}

#description-txt-in {
    font-size: 20px;
    font-weight: bold;
}

.big-pic-in {
    margin: 20px;
}

.price-one-in{
    text-decoration: line-through;

}

.price-two-in {
    color: red;
    font-weight: bold;

}

.tabs-in {
    padding-top: 100px;
}

.prices-wrap-in {
    margin-left: 100px;
}

.sold-text-in {
    margin-left: -12px;
    color: red;
    font-weight: bold;
}

.product-name-in {
    border-top: 1px solid sandybrown;
}

.shop-header-in {
    font-weight: bold;
    font-size: 36px;
    color: #660000;
    text-align: center;
    margin-bottom: 10px;
}

#email-from-in.ng-invalid.ng-dirty  {
    border-color: red;
}

#email-from-in.ng-valid.ng-dirty  {
    border-color: green;
}