

<gallery-in></gallery-in>



<div  ng-controller="SnowboardsController as SnbCtrl" >



<div class="button-class" id="button-class">
    <button type="button" class="btn btn-primary one-product btn-lg active" ng-hide="SnbCtrl.selectedSnowboard.soldOut">Купить</button>
    <button type="button" class="btn btn-primary one-product btn-lg" ng-show="SnbCtrl.selectedSnowboard.soldOut" disabled="disabled">Купить</button>
    <p ng-show="SnbCtrl.selectedSnowboard.soldOut" class="sold-text-in one-product">Товар закончился</p>


    <h3 class="price-one-in"> {{SnbCtrl.selectedSnowboard.price | currency}} </h3>
    <h3 class="price-two-in articlesIN"> {{SnbCtrl.selectedSnowboard.price2 | currency}} </h3>
</div>

<section ng-controller="TabController as tab" class="one-product" id="full-articles-tabs">
    <ul class="nav nav-pills  ">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href="" ng-click="tab.setTab(1)" >Description</a>
        </li>

        <li ng-class="{ active:tab.isSet(2) }">
            <a href="" ng-click="tab.setTab(2)">Reviews</a>
        </li>
    </ul>

    <div ng-show="tab.isSet(1)">

        <description-in></description-in>

    </div>

    <div ng-show="tab.isSet(2)" >


        <reviews-in></reviews-in>

        </div>
</section>

</div>