

<gallery-in></gallery-in>

<section ng-controller="TabController as tab" class="tabs-in">
    <ul class="nav nav-pills  ">
        <li ng-class="{ active:tab.isSet(1) }">
            <a href="" ng-click="tab.setTab(1)" >Description</a>
        </li>

        <li ng-class="{ active:tab.isSet(2) }">
            <a href="" ng-click="tab.setTab(2)">Reviews</a>
        </li>
    </ul>

    <div ng-show="tab.isSet(1)">

        <description-in></description-in>

    </div>

    <div ng-show="tab.isSet(2)" >


        <reviews-in></reviews-in>

        </div>
</section>