<!--

<gallery-in></gallery-in>
<description-in></description-in>
<reviews-in></reviews-in>

<ul class="nav nav-pills  ">
    <li ng-class="{ active:tab.isSet(1) }">
        <a href="" ng-click="tab.setTab(1)" >Description</a>
    </li>

    <li ng-class="{ active:tab.isSet(2) }">
        <a href="" ng-click="tab.setTab(2)">Reviews</a>
    </li>
</ul>-->

<h4 id="description-txt-in">Description</h4>
{{SnowboardsController.selectedSnowboard.description}}

<strong class="camber-txt"> Camber: </strong> <span class="camber-txt-text">{{SnbCtrl.selectedSnowboard.camber}}</span>
<p><strong class="flex-txt"> Flex: </strong> <span class="flex-txt-text">{{SnbCtrl.selectedSnowboard.flex}}</span></p>
