<div class='gallery'  ng-show="product.images.length">
<div class="gallery-wrap-in col-md-12 ">
    <div class="big-pic-in col-md-6">
        <img ng-src="{{product[currentSnb.idCount].images[GalleryController.current]}}" />
    </div>
    <div class="small-image-in-wrap col-md-7 center-block">
        <ul>
            <li class="small-image-in  thumbnail  "  ng-repeat="image in product.images" ng-click="GalleryController.setCurrent(product.images.indexOf(image))">
                <img ng-src="{{image}}"  class="small-image-itself-in "/>
            </li>
        </ul>
    </div>
</div> <!--/gallery-wrap-in-->