<div class="dialog_wrapper_af">
    <div class="dialog_af" ng-show="getMontlyPay(storeCtrl.selectedProduct.price2 || storeCtrl.selectedProduct.price)">
        <h2>{{storeCtrl.selectedProduct.name | limitTo:50}}</h2>
        <h3 ng-hide="storeCtrl.selectedProduct.price2">{{storeCtrl.selectedProduct.price | currency}}</h3>
        <h3 ng-show="storeCtrl.selectedProduct.price2">{{storeCtrl.selectedProduct.price2 | currency}}</h3>
        <form>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Вид кредита</th>
                    <th>Процентная ставка</th>
                    <th>Ежемесячный платеж</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><label><input type="radio" name="credit" value="type1"> На 2 месяца</label></td>
                    <td>4%</td>
                    <td>{{montlyPay[0] | currency}}</td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="credit" value="type2"> На 6 месяцев</label></td>
                    <td>5% + $1</td>
                    <td>{{montlyPay[1] | currency}}</td>
                </tr>
                <tr>
                    <td><label><input type="radio" name="credit" value="type3"> На 12 месяцев</label></td>
                    <td>10% + $2</td>
                    <td>{{montlyPay[2] | currency}}</td>
                </tr>
                </tbody>
            </table>
            <h5 class="muted">Информация:</h5>
            <ul>
                <li class="text-info">На 2 месяца – 4% от суммы товара</li>
                <li class="text-info">На 6 месяцев – 5% плюс фиксированная сумма в размере $1</li>
                <li class="text-info">На 12 месяцев – 10% плюс фиксировання сумма в размере $2</li>
            </ul>
            <button type="submit" class="btn btn-success btn-lg">Оформить</button>
        </form>

        <button class="dialog__close_af" ng-click="storeCtrl.showCredit()">&#215;</button>
    </div>
</div>