<div class="panel" ng-repeat="item in store_sp.products">
    <div class="itemBlock">
        <a ng-href="#/consoles/{{item.id}}"></a>
        <div class="itemInfo">
            <h2>
                {{item.title}}
            </h2>
            <p class="itemPrice">{{item.price| currency: $}}</p>
            <button class="btn btn-success btn-lg buyButton">BUY ITEM</button>
        </div>

        <img ng-src="{{item.images[0]}}" class="itemImg">
        <a ng-href="#/consoles/{{item.id}}">
            <button class="btn btn-info moreInfo">MORE INFO</button>
        </a>

    </div>

</div>