<div class="itemBlock" ng-repeat="item in store_sp.products">
    <div class="itemInfo">

        <show-title-price></show-title-price>

    </div>

    <show-img></show-img>

    <div class="panel">
        <section ng-init="tab = 1" ng-controller="AdditionalPanelController as additionalPanenCTRL"
                 class="row additionalTab">

            <ul class="nav nav-pills">
                <li ng-class="{active: additionalPanenCTRL.isSelected(1)}"><a href
                                                                              ng-click="additionalPanenCTRL.selectTab(1)">DESCRIPTION</a>
                </li>
                <li ng-class="{active: additionalPanenCTRL.isSelected(2)}"><a href
                                                                              ng-click="additionalPanenCTRL.selectTab(2)">REVIEWS</a>
                </li>
            </ul>

            <show-description></show-description>

            <show-messages></show-messages>

        </section>
    </div>
</div>