<!doctype html>
<html lang="en" ng-app="storess">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best store</title>

    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>

<header class="container">
    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Angular store</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">ТОВАРЫ <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="#">Машины</a></li>
                            <li><a href="#">Оружие</a></li>
                            <li><a href="/pages/kolisnyk-maksym/">Котики</a></li>
                            <li><a href="/pages/baitasova-anastasiia/">Кроссовки</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>


<div ng-controller="PanelController as PanelCtrl">


    <main role="main" class="container container__description" ng-show="PanelCtrl.tab === 1">

        <div class="container__description" ng-show="PanelCtrl.tab === 2">
            <h3>Отзывы</h3>
        </div>

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <ul class="nav nav-tabs">
                <li role="presentation" ng-class="{active: PanelCtrl.isSelected(1)}">
                    <a href="#" ng-click="PanelCtrl.selectTab(1)">Описание</a>
                </li>
                <li role="presentation" ng-class="{active: PanelCtrl.isSelected(2)}">
                    <a href="#" ng-click="PanelCtrl.selectTab(2)">Отзывы</a>
                </li>
            </ul>
        </div>
    </div>





        <div ng-controller="DefaultController as DefaultCtrl">
            <div class="row">

        <div>
            <h1>Кроссовки Nike Revolution EU</h1>
        </div>

        <div class="col-xs-12 col-md-1">
            <img class="row__img2" ng-src="{{DefaultCtrl.product.images[1]}}" alt="">
        </div>

        <div class="col-xs-12 col-xs-12 col-md-8">
            <img class="row__img1" ng-src="{{DefaultCtrl.product.images[0]}}" alt="">
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="info">
            <h3 class="row__price">{{DefaultCtrl.product.price}}</h3>
            <h2 class="row__price2">{{DefaultCtrl.product.price2}}</h2>
            <button type="button" class="btn btn-secondary">В корзину</button>
            </div>
        </div>

    </div>
            <h3>Описание</h3>
            <p>{{DefaultCtrl.product.description}}</p>
    </div>
</main>
</div>




<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>




<script src="/js/all.js"></script>
</body>
</html>
