<!doctype html>
<html lang="en" ng-app="storeOne">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robocat's gaming store</title>

    <link rel="stylesheet" href="../../bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <!--<link rel="stylesheet" href="css/style.css">-->

    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>

</head>
<body ng-controller="StoreController as storeCTRL" class="body_sp">

<header class="container">

    <div class="row">

        <nav class="navbar navbar-inverse">
            <img src="../../images/gamerStuff/roboCat.jpg" alt="" class="roboCat">
            <h1 class="headerTitle">ROBOCAT'S GAMING SHOP</h1>

        </nav>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Angular store</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">ТОВАРЫ <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="index.html">Геймерские товары</a></li>
                            <li><a href="../../pages/serhii-kravchenko/index.html">Гитары</a></li>
                            <li><a href="../default/home.html">Котики</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</header>

<main role="main" class="container main">

    <section ng-init="tab = 1" ng-controller="MainPanelController as mainPanenCTRL" class="row">
        <ul class="nav nav-tabs">
            <li ng-class="{active: mainPanenCTRL.isSelected(1)}"><a href ng-click="mainPanenCTRL.selectTab(1)">GAMING
                PLATFORMS</a></li>
            <li ng-class="{active: mainPanenCTRL.isSelected(2)}"><a href ng-click="mainPanenCTRL.selectTab(2)">GAMES</a>
            </li>
            <li ng-class="{active: mainPanenCTRL.isSelected(3)}"><a href ng-click="mainPanenCTRL.selectTab(3)">ACCESSORIES</a>
            </li>
        </ul>

        <div class="panel" ng-show="mainPanenCTRL.isSelected(1)" ng-repeat="item in storeCTRL.products"
             ng-hide="item.soldOut">

            <!--Блок товара-->
            <div class="itemBlock">
                <div class="itemInfo">
                    <h2>
                        {{item.title}}
                    </h2>
                    <p class="itemPrice">{{item.price| currency: $}}</p>
                    <button class="btn btn-success btn-lg buyButton">BUY ITEM</button>
                </div>

                <img ng-src="{{item.images[0]}}" class="itemImg">
                <button class="btn btn-info moreInfo">MORE INFO</button>
                <img src="../../images/gamerStuff/closeButton.png" class="closeButton">

                <!--Всплывающий блок с описанием и отзывами-->
                <section ng-init="tab = 1" ng-controller="AdditionalPanelController as additionalPanenCTRL"
                         class="row additionalTab">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: additionalPanenCTRL.isSelected(1)}"><a href
                                                                                      ng-click="additionalPanenCTRL.selectTab(1)">DESCRIPTION</a>
                        </li>
                        <li ng-class="{active: additionalPanenCTRL.isSelected(2)}"><a href
                                                                                      ng-click="additionalPanenCTRL.selectTab(2)">REVIEWS</a>
                        </li>
                    </ul>

                    <div class="panel" ng-show="additionalPanenCTRL.isSelected(1)">
                        <ul>
                            <li>{{item.description[0]}}</li>
                            <li>{{item.description[1]}}</li>
                            <li>{{item.description[2]}}</li>
                        </ul>
                        <p>{{item.description[3]}}</p>
                    </div>

                    <div class="panel" ng-show="additionalPanenCTRL.isSelected(2)"
                         ng-controller="ReviewController as reviewCTRL">
                        <div ng-repeat="review in item.messages">
                            <h3>{{review.author}}</h3>
                            <p>{{review.message}}</p>
                        </div>

                        <div>
                            <h3>{{reviewCTRL.review.author}}</h3>
                            <p>{{reviewCTRL.review.message}}</p>
                        </div>

                        <form name="reviewForm" class="reviewForm"
                              ng-submit="reviewForm.$valid && reviewCTRL.addReview(item)" novalidate>
                            <input type="text" placeholder="Type your name here." ng-model="reviewCTRL.review.author"
                                   class="form-control" required>

                            <textarea cols="35" rows="5" placeholder="Type your review here."
                                      ng-model="reviewCTRL.review.message" class="form-control"
                                      required></textarea><br>
                            <input type="submit" value="SUBMIT REVIEW" class="btn btn-info btn-sm">
                            <button class="btn btn-danger btn-sm cancelReviewButton">CLOSE</button>
                        </form>

                        <button class="btn btn-info writeReviewButton">WRITE REVIEW</button>
                    </div>
                </section>
                <!--Конец блока с описанием и отзывами-->
            </div>

        </div>

        <div class="panel" ng-show="mainPanenCTRL.isSelected(2)">
            <h1>Section is under construction</h1>
        </div>

        <div class="panel" ng-show="mainPanenCTRL.isSelected(3)">
            <h1>Section is under construction</h1>
        </div>
    </section>

</main>

<!--<script src="js/scripts/controllers.js"></script>-->
<script src="../../js/all.js"></script>
</body>
</html>
