<div ng-controller="PanelController as PanelCtrl">
    <main role="main" class="container container__description">

        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-class="{active: PanelCtrl.isSelected(1)}">
                        <a href="#" ng-click="PanelCtrl.selectTab(1)">Описание</a>
                    </li>
                    <li role="presentation" ng-class="{active: PanelCtrl.isSelected(2)}">
                        <a href="#" ng-click="PanelCtrl.selectTab(2)">Отзывы</a>
                    </li>
                </ul>
            </div>
        </div>

        <messages-page></messages-page>

        <div ng-controller="DefaultController as DefaultCtrl" ng-repeat="product in DefaultCtrl.sneakers">
            <div class="row">

                <div>
                    <h1>Кроссовки Nike Revolution EU</h1>
                </div>

                <div ng-controller="ImageController as imageCtrl" ng-repeat="product in imageCtrl.sneakers">
                <div class="col-xs-12 col-md-1">
                    <div articles-img2></div>
                </div>

                <div class="col-xs-12 col-xs-12 col-md-8">
                    <div articles-img></div>
                </div>
                </div>

                <div class="col-xs-12 col-md-3">
                    <div class="info">
                        <h3 class="row__price">{{DefaultCtrl.product.price}}</h3>
                        <h2 class="row__price2">{{DefaultCtrl.product.price2}}</h2>
                        <button ng-show="DefaultCtrl.product.canPurchase" type="submit" class="btn btn-secondary">В корзину</button>
                    </div>
                </div>
            </div>
            <description-page></description-page>
        </div>

    </main>
</div>