
<div class="reviews" ng-show="PanelCtrl.isSelected(2)">
    <h3>Написать отзыв</h3>
    <div class="container">

        <form name="form" action="#" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview()" novalidate>

            <blockquote>
                <h4>Имя: {{reviewCtrl.review.author}}</h4>
                <p>Отзыв: {{reviewCtrl.review.message}}</p>
            </blockquote>

            <div class="form-group">
                <input name="formInput" type="text" class="form-control" ng-model="reviewCtrl.review.author" required>
            </div>
            <div class="form-group">
                <textarea name="formInput" class="form-control" rows="5" ng-model="reviewCtrl.review.message" required></textarea>
            </div>
            <input ng-disabled="form.$invalid" id="submit" type="submit" value="Отправить" class="btn btn-secondary" >

            <h3>Отзывы</h3>

            <div class="container__review" ng-repeat="sneaker in reviewCtrl.sneakers">
                <h4>{{sneaker.author}}</h4>
                <p>{{sneaker.message}}</p>
            </div>
        </form>
    </div>
</div>

<div ng-show="PanelCtrl.tab === 1">

</div>
